# CMakeStuff
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# binaries
main
tests

# CLion conf
cliontest.cbp
.idea

# VSCode conf
.vscode

# Coverage stuff
.cov.info
.coverage
/build/

# Ninja build
build.ninja
rules.ninja
.ninja_deps
.ninja_log
